
# Virtual environment
venv/
env/
.venv/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data files
*.csv
*.xlsx
*.json

# Model files
*.bin
*.pkl

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Other
.env
